\{% extends "base.html" %}
{% load static %}
{% block title %}Services{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/faqs.css' %}">
{% endblock %}


{% block content %}
<div class="banner">

    <div class="banner_all">
        <div class="banner_p">
            <p>Reliable Logistics, Tailored for You</p>
            <p>Experience seamless, efficient logistics solutions customized to
                meet your needs. Explore our wide range of services, competitive pricing, shipping options, and
                guaranteed delivery timelines.</p>
        </div>
        <div><iframe src="https://ship.thecargo.io/quote/request/form/ahaul?mode=iframe" width="100%" height="650" frameBorder="0"></iframe></div>
    </div>

</div>
<section class="reviews-section fade-up">
    <h2>Reviews From Our <span>Satisfied Customers</span></h2>

    <div class="reviews-slider">
        <div class="review-box" style="height: 110px" onclick="https://www.google.com/search?q=auto+haul+movers+llc&rlz=1C5CHFA_enUZ1135UZ1136&oq=auto+haul+movers+llc&gs_lcrp=EgZjaHJvbWUqDggAEEUYJxg7GIAEGIoFMg4IABBFGCcYOxiABBiKBTIGCAEQRRhAMggIAhAAGBYYHjIICAMQABgWGB4yDQgEEAAYhgMYgAQYigUyBggFEEUYPTIGCAYQRRg8MgYIBxBFGDzSAQg0MzU3ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8#mpd=~17663437449601194508/customers/reviews">
            <div class="rating-section">
                <h3>5.0</h3>
                <div class="stars">
                   <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>
            <div class="info-section">
                <p class="company-name">Google</p>
                <img src="{% static 'img/google-r.png' %}" alt="Google Logo">
            </div>
        </div>

        <div class="review-box" style="height: 110px" onclick="window.location.href='https://www.trustpilot.com/review/autohaulmovers.com';">
            <div class="rating-section">
                <h3>5.0</h3>
                <div class="stars">
                   <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>
            <div class="info-section">
                <p class="company-name">Trustpilot</p>
                <img src="{% static 'img/trustpilot.png' %}" alt="Trustpilot Logo">
            </div>
        </div>

        <div class="review-box" style="height: 110px" onclick="window.location.href='https://mygoodmovers.com/movers/auto-haul-movers-llc'">
            <div class="rating-section">
                <h3>5.0</h3>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>
            <div class="info-section">
                <p class="company-name">My Moving</p>
                <img src="{% static 'img/my-moving-reviews.png' %}" alt="My Moving Logo">
            </div>
        </div>

        <div class="review-box" style="height: 110px" onclick="window.location.href='https://www.transportreviews.com/Company/Auto-Haul-Movers-LLC';">
            <div class="rating-section">
                <h3>5.0</h3>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>
            <div class="info-section">
                <p class="company-name">Transport Reviews</p>
                <img src="{% static 'img/transport-rewiews.jpg' %}" alt="Transport Reviews Logo">
            </div>
        </div>
        
                        <div class="review-box" style="height: 110px" onclick="window.location.href='https://www.bbb.org/us/sc/myrtle-beach/profile/auto-transportation/auto-haul-movers-llc-0593-90365883';">
            <div class="rating-section">
                <h3>5.0</h3>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>
            <div class="info-section">
                <p class="company-name">BBB</p>
                <img src="https://americanpestservices.com/wp-content/uploads/2020/04/home-solar-solar-panels-nj-solar-panel-ny-solar-energy-better-business-bureau-png-logo-6-300x105.png" alt="Transport Reviews Logo">
            </div>
        </div>

    </div>
</section>

<div class="services-section fade-up">
    <div class="services-content container">
        <div class="services-image fade-up">
            <img src="{% static 'img/service_road.png' %}" alt="Services Image">
        </div>
        <div class="services-text">
            <h2 class="fade-up">The type of services  <span class="highlight">Auto Haul Movers LLC</span> offers</h2>
            <p class="fade-up">Discover our reliable vehicle transportation services tailored to your needs. With a
                seasoned team and a focus on care and security, we ensure a smooth journey for your vehicles, backed by
                personalized customer support at every stage.</p>
            <div class="services-cards">
                <div class="service-card fade-up">
                    <div class="icon-wrapper">
                        <i class="fa fa-car"></i>
                    </div>
                    <p><span>Open auto shipping</span> – fast & affordable shipping solution.</p>
                </div>
                <div class="service-card fade-up">
                    <div class="icon-wrapper">
                        <i class="fa fa-lock"></i>
                    </div>
                    <p><span>Enclosed auto shipping</span> – secure and safe transport.</p>
                </div>
                <div class="service-card fade-up">
                    <div class="icon-wrapper">
                        <i class="fa fa-home"></i>
                    </div>
                    <p><span>Door-to-Door shipping</span> – secure and safe transport.</p>
                </div>
                <div class="service-card fade-up">
                    <div class="icon-wrapper">
                        <i class="fa fa-truck"></i>
                    </div>
                    <p><span>Driveaway Auto shipping</span> – reliable shipping services.</p>
                </div>
                <div class="service-card fade-up">
                    <div class="icon-wrapper">
                        <i class="fa fa-ship"></i>
                    </div>
                    <p><span>Ship to Hawaii</span> – ship your car hassle-free.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container third_section ">
    <p class="fade-up" style="margin-top: 100px">Why <span style="color: #0085FF ">Auto Haul Movers?</span></p>

    <div class="third_card fade-up">
        <img src="{% static 'img/Realiable.jpg' %}" alt="">
        <div class="">
            <p>Outstanding Reliability and Efficiency</p>
            <span>At Auto Haul Movers, we are dedicated to providing superior reliability and efficiency. With our
                state-of-the-art logistics technology, we guarantee timely and secure vehicle transport, minimizing delays and ensuring your convenience.</span>
        </div>
    </div>

    <div class="third_card third_c_r fade-up">
        <div class="">
            <p>Expert Team</p>
            <span>Our team of highly skilled professionals brings extensive experience in vehicle transport. We use our deep
                industry insight to manage logistics with great precision and care, ensuring exceptional service for every transport task.</span>
        </div>
        <br>
        <img src="{% static 'img/expret-team.jpg' %}" alt="">
    </div>

    <div class="third_card fade-up">
        <img src="{% static 'img/Comprehensive.jpg' %}" alt="">
        <div class="">
            <p>Comprehensive Range of Transport Solutions</p>
            <span>We offer a broad array of transport services, including open and enclosed transport as well as
                expedited options. This range allows us to meet your specific needs, whether you require standard shipping or have specialized demands.</span>
        </div>
    </div>

    <div class="third_card third_c_r fade-up">
        <div class="">
            <p>Focus on Customer Satisfaction</p>
            <span>We are dedicated to your satisfaction through clear communication, responsive support,
                and customized solutions. Our commitment is to address your unique needs and concerns, ensuring a smooth and positive experience.</span>
        </div>
        <br>
        <img src="{% static 'img/Customer-satisfaction.jpg' %}" alt="">
    </div>


</div>

{% endblock %}


{% block extra_js %}

<script>
    $(document).ready(function () {
        $('.reviews-slider').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 800,
            arrows: false,
            dots: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>
{% endblock %}
